*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
}

body{
	background-color: #131313;
}

/*_____________________________________________________NAVIGASI BAR_______*/

nav{
	position: sticky;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #131313;
	z-index: 99;
}

.nav-container{
	position: relative;
	margin: 0 4.5rem;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

.fa-gem{
	margin-right: 0.5rem;
}

.nav-menu{
	width: 32%;
	height: 80px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu li{
	height: 80px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.nav-menu a{
	text-decoration: none;
	font-size: 1.2rem;
	color: #fff;
}

.menu-item{
	height: 80px;
	display: flex;
	align-items: center;
}

.menu-item:hover{
	color: #CD5F53;
}

.menu-button{
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #F77062;
}

.menu-button:hover{
	background-color: #4837FF;
}


#burger{
	width: 28px;
	height: 21px;
	position: absolute;
	top: 36%;
	right: 0%;
	display: none;
	cursor: pointer;
}

#burger span{
	width: 28px;
	height: 3px;
	background-color: #fff;
	transition: all 0.5s;
}

#burger.aktip span:first-child{
	transform: translateY(9px) rotate(45deg);
}

#burger.aktip span:nth-child(2){
	opacity: 0
}

#burger.aktip span:last-child{
	transform: translateY(-9px) rotate(-45deg);
}


/*_________________________________________________TABLET MODE___________*/
@media screen and (max-width: 960px){
	.nav-container{
		margin: 2rem;
	}
	.nav-menu{
		width: 100%;
		background-color: #131313;
		position: absolute;
		top: -1000px;
		display: table;
		justify-content: center;
		align-items: center;
		transition: all 0.8s;
	}

	.menu-list{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-item{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-list-button{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-button{
		width: 90%;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	#burger{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.nav-menu.aktip{
		top: 70px;
	}
}


/*_____________________________________________________MAIN BAR_______*/

.main-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	margin: 0 5rem;
}

.main-title  h1:first-child{
	font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-title h1:nth-child(2){
	font-size: 4rem;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-title h2{
	color: #fff;
	font-size: 2rem;
	margin: 2rem 0;
}

.main-title button{
	position: relative;
	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	padding: 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.main-title button:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #4837ff;
	transition: all 0.35s;
	border-radius: 4px;
}

.main-title button:hover:after{
	width: 100%;
}

.main-button{
	position: relative;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	z-index: 2;
}

.img-container{
	padding-left: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container img{
	width: 100%;
}

/*___________________________________________________________TABLET MODE_____*/
@media screen and (max-width: 960px){
	.main-container{
		margin: 5.5rem 4rem;
	}
}

/*___________________________________________________________MOBILE MODE_____*/
@media screen and (max-width: 768px){
	.nav-container{
		margin: 0 2rem;
	}

	.main-container{
		margin: 2rem;
		display: table;
		justify-content: center;
		text-align: center;
	}

	.main-title h1:first-child{
		font-size: 2.5rem;
	}

	.main-title h1:nth-child(2){
		margin-top: 5px;
		font-size: 3rem;
	}

	.main-title h2{
		margin: 1rem 0;
		font-size: 1.5rem;
	}

	.main-title button{
		margin: 1rem 0;
	}

	.img-container{
		margin: 3rem 0;
		padding: 0 3rem;
	}
}


/*__________________________________________________________HERO SERVICES____*/
.hero-container{
	margin: 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-container h1:first-child{
	padding-bottom: 2rem;
	font-size: 2.5rem;
	text-align: center;
	background-color: #ff8177;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-services{
	margin-top: 5rem;
	margin-bottom: 2rem;
	padding: 0 10rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.service{
	position: relative;
	padding: 2rem;
	width: 400px;
	height: 525px;
	background-color: #0F0F0F;
	cursor: pointer;
}

.service:hover{
	transform: scale(1.075);
  transition: 0.2s ease-in;
  background-color: black;
  cursor: pointer;
}

.service h2{
	position: absolute;
	top: 350px;
	color: #fff;
	font-weight: bold;
}

.service p{
	margin-bottom: 10px;
	position: absolute;
	top: 400px;
	color: #fff
}

.service button{
	position: absolute;
	padding: 0.7rem 1.3rem;
	top: 440px;
	border: none;
	border-radius: 4px;
	background-color: #F77062;
	cursor: pointer;
}

.service button a{
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

/*_____________________________________________________________TABLET MODE___*/
@media screen and (max-width: 960px){
	.hero-container{
		margin: 50rem 1rem 20rem;
	}

	.hero-container h1:first-child{
		font-size: 2rem;
	}

	.hero-services{
		margin-top: 10rem;
		padding: 0;
	}
}

/*_____________________________________________________________MOBILE MODE___*/
@media screen and (max-width: 768px){
	.hero-container{
		margin: 5rem 0;
	}

	.hero-services{
		display: flex;
		flex-direction: column;
	}

	.service{
		margin-bottom: 3em;
	}
}

/*___________________________________________________________FOOTER________*/

.footer-container{
	margin: 3rem 5rem;
}

.foot-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.links{
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.link h2{
	margin: 10px 0;
	color: #fff
}

.links ul{
	list-style: none;
}

.links ul li{
	margin-top: 5px;
}

.list{
	text-decoration: none;
	color: #fff;
}

.foot-social-media{
	margin: 5rem 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-logo{
	text-decoration: none;
	font-size: 2rem;
	color: #fff;
}

.foot-social-media p{
	color: #fff;
}

.social__icons a{
	margin: 0 10px;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}

/*_________________________________________________________TABLET MODE*/
@media screen and (max-width: 960px){
	.footer-container{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.foot-social-media{
		margin-right: 2rem;
		margin-left: 2rem;
		justify-content: space-between;
	}
}

/*_________________________________________________________MOBILE MODE*/
@media screen and (max-width: 768px){
	.footer-content{
		flex-direction: row;
		justify-content: center;
	}

	.links{
		padding-left: 3rem;
		flex-direction: column;
	}

	.link .dua{
		margin-top: 0;
	}

	.foot-social-media{
		margin:3rem 0 1rem;
		height: 20vh;
		flex-direction: column;
		justify-content: space-between;
	}
}





















































































































































